<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.oliver.jetpack">

    <application>
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".LiveDataVMActivity">
        </activity>
    </application>

</manifest>